<!DOCTYPE html>
<html>
<head>
  <title>Astronauts in Space</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body class="astro-page">
<header>
<h1>RPF software engineer apprentice challenge 🚀</h1>
<nav>
<ul>
  <li><a href='/'>Homepage</a></li>
  <li><a href='position'>Where is the ISS?</a></li>
  <li><a href='astros'>Who is in space right now?</a></li>
</ul>
</header>
<h2>Who is in Space? 🔭</h2>
<p>Number of astronauts currently in space:<strong> <%= (data['number']) %></p></strong>
<table>
<thead>
      <tr>
        <th>Name</th>
        <th>Craft</th>
      </tr>
    </thead>
    <tbody>
      <% data['people'].each do |astro| %>
        <tr>
          <td><%= astro['name'] %></td>
          <td><%= astro['craft'] %></td>
        </tr>
      <% end %>
    </tbody>
</table>
 </body>
</html>